body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.gui {
    margin-left: 20px;
    margin-right: 10px;
    background-color: #678;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px;
    width: 1800px;
    align: center;
}

input[type=range].vertical
{
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 200px;
    padding: 0 5px;
}

input[type=range].vertical_zoom
{
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.is-disabled {
    opacity: .5;
    pointer-events: none;
}	
.is-enabled {
    opacity: 1;
    pointer-events: all;
}
